<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Admin</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!
                </div>
            </div>

            <h1>New Admin</h1>

            <form th:action="@{/new/user}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="fullName"> Full Name </label>
                    <input id="fullName" class="form-control" th:field="*{fullName}"
                           required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="studentId"> student id </label> <input
                        id="studentId" class="form-control" th:field="*{studentId}"
                        required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="phoneNumber"> phone number </label> <input
                        id="phoneNumber" class="form-control" th:field="*{phoneNumber}"
                        required autofocus="autofocus"/>
                </div>


                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>